flask
flask-cors
flask-socketio
psycopg2-binary
python-dotenv
pyjwt
bcrypt
gunicorn
simple-websocket
requests
ollama>=0.6.1
piper-tts>=1.4.2
faster-whisper
soundfile
numpy
opencv-python-headless
mediapipe
pillow
pydub
werkzeug
PyPDF2
python-docx
tiktoken
colorama
sentence-transformers
faiss-cpu
